
@{
    ViewData["Title"] = "Upload Bukti Pembayaran";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Upload" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <div>
        <input class="form-control" type="file" name="file" />
        <button class="btn btn-primary" type="submit">Upload</button>
    </div>
</form>

@*<form asp-controller="Upload" asp-action="UploadFiles" method="post"
      enctype="multipart/form-data">

    <input type="file" name="files" multiple />
    <button type="submit">Upload Files</button>
</form>

<form asp-controller="Upload" asp-action="UploadFileViaModel" method="post"
      enctype="multipart/form-data">

    <input type="file" name="FileToUpload" />
    <button type="submit">Upload File (model)</button>
</form>*@