@model Projek_Restoran.Models.Meja

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("No Meja")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomorMeja)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdMeja">Ubah</a> |
    <a asp-action="Index">Kembali</a>
</div>
