@model Projek_Restoran.Models.Pesanan

@{
    ViewData["Title"] = "Tambah";
}

<h2>Tambah Pesanan Baru</h2>

<h4>Pesanan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NamaCustomer" class="control-label">Nama Customer</label>
                <input asp-for="NamaCustomer" class="form-control" />
                <span asp-validation-for="NamaCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jumlah" class="control-label">Jumlah</label>
                <input asp-for="Jumlah" class="form-control" />
                <span asp-validation-for="Jumlah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tanggal" class="control-label">Tanggal</label>
                <input asp-for="Tanggal" class="form-control" />
                <span asp-validation-for="Tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProduk" class="control-label">Produk</label>
                <select asp-for="IdProduk" class="form-control" asp-items="ViewBag.IdProduk"></select>
            </div>
            <div class="form-group">
                <label asp-for="Keterangan" class="control-label">Keterangan</label>
                <input asp-for="Keterangan" class="form-control" />
                <span asp-validation-for="Keterangan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdJenisPesanan" class="control-label">Jenis Pesanan</label>
                <select asp-for="IdJenisPesanan" class="form-control" asp-items="ViewBag.IdJenisPesanan"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdMeja" class="control-label">Meja</label>
                <select asp-for="IdMeja" class="form-control" asp-items="ViewBag.IdMeja"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label">Admin</label>
                <select asp-for="IdUser" class="form-control" asp-items="ViewBag.IdUser"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Tambah" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kembali</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
