@model Projek_Restoran.Models.JenisPesanan

@{
    ViewData["Title"] = "Delete";
}

<h2>Hapus Data</h2>

<h3>Apakah Kamu Yakin Ingin Menghapus ini ?</h3>
<div>
    <h4>JenisPesanan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Jenis Pesanan")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaJenisPesanan)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdJenisPesanan" />
        <input type="submit" value="Hapus" class="btn btn-danger" /> |
        <a asp-action="Index">Kembali</a>
    </form>
</div>
