@model Projek_Restoran.Models.JenisPesanan

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jenis Pesanan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Jenis Pesanan")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaJenisPesanan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdJenisPesanan">Ubah</a> |
    <a asp-action="Index">Kembali</a>
</div>
