@model Projek_Restoran.Models.JenisPesanan

@{
    ViewData["Title"] = "Edit";
}

<h2>Ubah Data Jenis Pesanan</h2>

<h4>Jenis Pesanan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdJenisPesanan" />
            <div class="form-group">
                <label asp-for="NamaJenisPesanan" class="control-label">Nama Jenis Pesanan</label>
                <input asp-for="NamaJenisPesanan" class="form-control" />
                <span asp-validation-for="NamaJenisPesanan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kembali</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
